In [1]:
import json

In [2]:
with open('C:\\Users\\USER\\Downloads\\API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549 (1).json') as j:
    contents=json.loads(j.read())

In [3]:
type(contents)

list

In [4]:
import pandas as pd

In [5]:
df1=pd.DataFrame(contents)

In [6]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,Last Updated Date,2022-07-20,,,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,NaN,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,
2,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100,100,100,100,100,100,100,100,NaN,
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293868,NaN,
4,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,NaN,

In [7]:
df1.drop(index=0,inplace=True)

In [8]:
df2=df1.rename(columns=df1.iloc[0])
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,
2,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100,100,100,100,100,100,100,100,NaN,
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293868,NaN,
4,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,NaN,
5,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0483161636866,47.5993227916858,46.7662943639277,50.9534866843105,48.8611912179155,51.2597116422012,51.2901929896648,52.1116010037919,NaN,

In [9]:
df2.drop(index=1,inplace=True)

In [10]:
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,
2,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100,100,100,100,100,100,100,100,NaN,
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293868,NaN,
4,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,NaN,
5,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0483161636866,47.5993227916858,46.7662943639277,50.9534866843105,48.8611912179155,51.2597116422012,51.2901929896648,52.1116010037919,NaN,
6,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.2780303955078,32,42,41.8131294250488,43.0132598876953,45.2900009155273,45.6427993774414,46.8906097412109,NaN,

# data cleaning

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 2 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960.0          0 non-null      float64
 5   1961.0          0 non-null      float64
 6   1962.0          0 non-null      float64
 7   1963.0          0 non-null      float64
 8   1964.0          0 non-null      float64
 9   1965.0          0 non-null      float64
 10  1966.0          0 non-null      float64
 11  1967.0          0 non-null      float64
 12  1968.0          0 non-null      float64
 13  1969.0          0 non-null      float64
 14  1970.0          0 non-null      float64
 15  1971.0          0 non-null      float64
 16  1972.0          0 non-null      float64
 17  1973.0          0 non-null      float64
 18  1974.0          0 non-null      float64
 19  1975.0          0 non-null      float64
 20  1976.0          0 non-null      float64
 21  1977.0          0 non-null      float64
 22  1978.0          0 non-null      float64
 23  1979.0          0 non-null      float64
 24  1980.0          0 non-null      float64
 25  1981.0          0 non-null      float64
 26  1982.0          0 non-null      float64
 27  1983.0          0 non-null      float64
 28  1984.0          0 non-null      float64
 29  1985.0          0 non-null      float64
 30  1986.0          0 non-null      float64
 31  1987.0          0 non-null      float64
 32  1988.0          0 non-null      float64
 33  1989.0          0 non-null      float64
 34  1990            266 non-null    object
 35  1991            266 non-null    object
 36  1992            266 non-null    object
 37  1993            266 non-null    object
 38  1994            266 non-null    object
 39  1995            266 non-null    object
 40  1996            266 non-null    object
 41  1997            266 non-null    object
 42  1998            266 non-null    object
 43  1999            266 non-null    object
 44  2000            266 non-null    object
 45  2001            266 non-null    object
 46  2002            266 non-null    object
 47  2003            266 non-null    object
 48  2004            266 non-null    object
 49  2005            266 non-null    object
 50  2006            266 non-null    object
 51  2007            266 non-null    object
 52  2008            266 non-null    object
 53  2009            266 non-null    object
 54  2010            266 non-null    object
 55  2011            266 non-null    object
 56  2012            266 non-null    object
 57  2013            266 non-null    object
 58  2014            266 non-null    object
 59  2015            266 non-null    object
 60  2016            266 non-null    object
 61  2017            266 non-null    object
 62  2018            266 non-null    object
 63  2019            266 non-null    object
 64  2020            266 non-null    object
 65  2021.0          0 non-null      float64
 66                  266 non-null    object
dtypes: float64(31), object(36)
memory usage: 139.4+ KB

In [13]:
df2.shape

(266, 67)

In [14]:
df2.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           '1990',           '1991',
                 '1992',           '1993',           '1994',           '1995',
                 '1996',           '1997',           '1998',           '1999',
                 '2000',           '2001',           '2002',           '2003',
                 '2004',           '2005',           '2006',           '2007',
                 '2008',           '2009',           '2010',           '2011',
                 '2012',           '2013',           '2014',           '2015',
                 '2016',           '2017',           '2018',           '2019',
                 '2020',           2021.0,               ''],
      dtype='object')

In [15]:
df3=df2.drop(columns=[ 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           2021.0])

In [16]:
df3.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,
2,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,99.1536560058594,99.1971282958984,99.2399139404297,100,100,...,100,100,100,100,100,100,100,100,100,
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,31.8443844038242,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293868,
4,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,69.0999984741211,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,
5,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,31.693097179462,32.7147377322154,33.7036843102083,...,44.1679733535959,47.0483161636866,47.5993227916858,46.7662943639277,50.9534866843105,48.8611912179155,51.2597116422012,51.2901929896648,52.1116010037919,
6,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,37.1313209533691,38.2780303955078,32,42,41.8131294250488,43.0132598876953,45.2900009155273,45.6427993774414,46.8906097412109,

In [17]:
df3.isna().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1990              0
1991              0
1992              0
1993              0
1994              0
1995              0
1996              0
1997              0
1998              0
1999              0
2000              0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
2020              0
                  0
dtype: int64

In [18]:
df4=pd.read_csv('C:\\Users\\USER\\Downloads\\Metadata_Country_API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549.csv')

In [19]:
df4.isna().sum()

Country Code      0
Region           48
IncomeGroup      49
SpecialNotes    139
TableName         0
Unnamed: 5      265
dtype: int64

In [20]:
df4.drop(columns='Unnamed: 5',inplace=True)

In [21]:
df4['SpecialNotes'].fillna(df4['SpecialNotes'].mode()[0],inplace=True)

In [22]:
df4['IncomeGroup'].fillna(df4['IncomeGroup'].mode()[0],inplace=True)

In [23]:
df4['Region'].fillna(df4['Region'].mode()[0],inplace=True)

In [24]:
for i in df4.columns:
    print(df4[i].value_counts())
    print('....................')

ABW    1
OSS    1
MYS    1
NAC    1
NAM    1
      ..
GUY    1
HIC    1
HKG    1
HND    1
ZWE    1
Name: Country Code, Length: 265, dtype: int64
....................
Europe & Central Asia         106
Sub-Saharan Africa             48
Latin America & Caribbean      42
East Asia & Pacific            37
Middle East & North Africa     21
South Asia                      8
North America                   3
Name: Region, dtype: int64
....................
High income            129
Lower middle income     54
Upper middle income     54
Low income              28
Name: IncomeGroup, dtype: int64
....................
Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            146
The reporting period for national accounts data is designated as either calendar year basis (CY) or fiscal year basis (FY). For this country, it is fiscal year-based (fiscal year-end: June 30). Also, an estimate (PA.NUS.ATLS) of the exchange rate covers the same period and thus differs from the official exchange rate (CY).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     7
Fiscal year end: June 30; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
Fiscal year ends on September 30; reporting period for national accounts data: FY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       2
National accounts data are provided in the US dollar.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The DEC conversion is not reported when national accounts data are unavailable.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 1974-1987. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.                                                                                                                             1
Includes self-governed areas only, which mostly exclude Abkhazia and South Ossetia, but small areas in Abkhazia and South Ossetia are included before 2008 or 2009 because of the changes in self-governed areas.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Fiscal year ends on September 30; reporting period for national accounts data: FY. The source for national accounts data is the Pacific and Virgin Islands Training Initiative.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
National Accounts data are reported in Zimbabwean Dollar (ZWL). Before 2017, one ZWL is set to be equal to one USD.\n\nThe World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 2017-2020. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.      1
Name: SpecialNotes, Length: 111, dtype: int64
....................
Aruba                   1
Other small states      1
Malaysia                1
North America           1
Namibia                 1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: TableName, Length: 265, dtype: int64
....................

In [25]:
df4.isna().sum()

Country Code    0
Region          0
IncomeGroup     0
SpecialNotes    0
TableName       0
dtype: int64

In [26]:
df4

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,Fiscal year end: March 31; reporting period fo...,Aruba
1,AFE,Europe & Central Asia,High income,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,Europe & Central Asia,High income,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,Fiscal year end: March 31; reporting period fo...,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [27]:
df5=pd.read_csv('C:\\Users\\USER\\Downloads\\Metadata_Indicator_API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549.csv')

In [28]:
df5

,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
0,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,NaN

In [29]:
df5.drop(columns='Unnamed: 4',inplace=True)

In [30]:
df6=df3.merge(df5,left_on='Indicator Code',right_on='INDICATOR_CODE')

In [31]:
df=df6.merge(df4,left_on='Country Code',right_on='Country Code')

In [32]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2020,,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,99.1536560058594,99.1971282958984,99.2399139404297,100,100,...,100,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Latin America & Caribbean,High income,Fiscal year end: March 31; reporting period fo...,Aruba
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,45.8034852293868,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Europe & Central Asia,High income,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,97.6999969482422,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,31.693097179462,32.7147377322154,33.7036843102083,...,52.1116010037919,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Europe & Central Asia,High income,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,46.8906097412109,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,100,100,100,100,100,...,,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Europe & Central Asia,Upper middle income,Fiscal year end: March 31; reporting period fo...,Kosovo
261,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,44.1,40.774715423584,41.9851341247559,43.1935119628906,...,73.757926940918,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,,,,,...,84.3855361938477,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,13.9,12.7527027130127,19.2,14.213207244873,14.9417591094971,15.6682720184326,...,44.5244750976563,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,,,28.2,31.163667678833,28.1,31.948579788208,...,52.7476692199707,,EG.ELC.ACCS.ZS,Access to electricity (% of population),Access to electricity is the percentage of pop...,World Bank Global Electrification Database fro...,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [33]:
df.to_csv('C:\\Users\\USER\\Desktop\\World_Electric_analysis\\access_to_ele_%total.csv')